# See https://help.github.com/ignore-files/ for more about ignoring files.

# Ignore all CSS files, and use SCSS instead.
# CSS files are compiled by the yarn task.
*.css

# dependencies
/node_modules

# testing
/coverage

# production
/build
/build_final

# misc
.DS_Store
/.idea/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

