@import "./vendors/progress/styles";
$ionicons-font-path: "/ionicons/fonts";
@import "../public/ionicons/scss/ionicons";
@import "./sass/clearfix";
@import "./sass/font_face_mixin";
@import "./sass/fonts";
@import "./sass/colors";
@import "./sass/animations";

html {
  height: 100%;
}

.full-height {
  min-height: 100%;
}

body {
  @include clearfix;
  margin: 0;

  font-family: 'San Francisco', sans-serif;
}

h1, h2 {
  font-family: "San Francisco Display", sans-serif;
}

h1 {
  font-weight: normal;
}

.margin {
  margin: 1em;
}

.padding {
  padding: 1em;
}

p {
  line-height: 1.3em;
}

.small-stat {
  margin: 5px;
  .title {
    font-weight: 300;
  }
}

.prefer-no-wrap {
  display: inline-block;
}

.student {
  background: #f4f4f4 !important;
}
