@import "./sass/clearfix";
@import "./vendors/progress/styles";
@import "./sass/font_face_mixin";
@import "./sass/fonts";
@import "./sass/colors";


body {
  @include clearfix;
  margin: 0;

  font-family: 'San Francisco', sans-serif;
  color: #222;
}

h1, h2 {
  font-family: "San Francisco Display", sans-serif;
}

.main-container {

}

.margin {
  margin: 1em;
}

.padding {
  padding: 1em;
}

p {
  line-height: 1.3em;
}
